*logs*
*.log
*~
_vim/ropevim/src*
_vim/ropevim/pylibs*
_vim/view/
_vim/.cache/
_vim/.netrwhist
_vim/_vim
_ssh/id_rsa*
_ssh/known_hosts
_ssh/authorized_keys
_fonts/_fonts
_gimp/_gimp
_helpers/_helpers
_irssi/_irssi
_mutt/_mutt
_weechat/_weechat
_xmonad/_xmonad
*.swp
*.pyc
_emacs.d/elpa
_emacs.d/projectile*
_helpers/offlineimap-helpers.pyc
.ropeproject/
